{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur totam modi similique iste enim atque accusamus obcaecati quis! Officia aspernatur nihil repellendus adipisci molestiae veritatis, expedita reiciendis cumque minus ut, nemo blanditiis hic maxime? Esse dicta sed quaerat doloribus non itaque quisquam facere laudantium eos unde accusamus ipsa suscipit incidunt explicabo, dolorem dolor praesentium id facilis fuga earum provident consequuntur alias ex amet! Magnam consectetur quas optio quibusdam. Illo mollitia quaerat molestiae porro sed amet aliquam, culpa debitis beatae? Asperiores, est! Odit impedit harum, id eveniet saepe dolores! Magni tempore incidunt accusantium iure sunt soluta doloremque asperiores iusto aliquam porro!</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>
{% endblock %}